In [1]:

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import xgboost as xgb
import glob
from sklearn.metrics import mean_squared_error, mean_absolute_error

In [9]:

df=pd.read_csv('TEST.csv')
df.head()

       LSTM     HEZJ
0  0.002760 -0.00071
1  0.003857 -0.00404
2 -0.000144 -0.00235
3 -0.001759  0.00947
4 -0.001439 -0.00113

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 354 entries, 0 to 353
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   LSTM    354 non-null    float64
 1   HEZJ    354 non-null    float64
dtypes: float64(2)
memory usage: 5.7 KB

In [11]:
print(np.isnan(df).any())

LSTM    False
HEZJ    False
dtype: bool

In [12]:
a=df['HEZJ']
b=df['LSTM']

In [14]:
rmse = mean_squared_error(a, b)**0.5
mae = mean_absolute_error(a, b)
mae

0.005436602316384181

In [15]:
df=pd.read_csv('error.csv')
df.head()

      LSTM     BJGB      lstm     hezj
0 -0.00176 -0.00963  0.000143 -0.00277
1 -0.00291 -0.01208 -0.003811 -0.00148
2 -0.00791 -0.00896 -0.004514 -0.00380
3 -0.00686  0.00161 -0.004130 -0.00381
4 -0.00732 -0.00709 -0.003673 -0.00468

In [16]:
x=df['hezj']
y=df['lstm']

In [19]:
rmse = mean_squared_error(x, y)**0.5
mae = mean_absolute_error(x, y)
mae

0.004628503509040333