In [1]:

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import xgboost as xgb
import glob
from sklearn.metrics import mean_squared_error, mean_absolute_error

In [2]:

df=pd.read_csv('xgb1.csv')
df.head()

   Unnamed: 0      XGB1     HEZJ
0           0  0.008928  0.01015
1           1  0.008808  0.00853
2           2  0.014547  0.01433
3           3  0.009761  0.01048
4           4  0.011283  0.00988

In [3]:
x=df['HEZJ']
y=df['XGB1']

In [5]:
rmse = mean_squared_error(x, y)**0.5
mae = mean_absolute_error(x, y)
rmse

0.0034106588064855264